
<html>
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style/main.css">
    </head>
    
    <body>
    
        <%- include('./header.ejs') %>
          
        <div class="container-lg">
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-8"><h2>MY Data</h2></div>
                            <div class="col-sm-4">
                                <button  type="button"  class="btn btn-info add-new"> <a href="/student/form" style="color: azure;">Add New</a></button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>No:</th>
                                <th>Name</th>
                                <th>Image</th>
                                <th style="width:200px">Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var x=1 %>
                            <% result.forEach((item)=> { %>
               <tr>
                <td><%= x++%> </td>
                       <td> <%= item.name %></td>
                          <td> <%= item.image %></td>
                          <td> <%= item.email %></td>
                          
                              
                                <td>
                                
                                    <form action="/edit/<%= item._id %>" method="get" class="d-inline">
                                        <button type="submit" class="text-primary" > 
                                     <i  class="material-icons">&#xE254;  </i>
                                        </button>
                                     </form>
                                    
                                    
                                        <form action="/delete/<%= item._id %>" method="post" class="d-inline">
                                            <button type="submit" class="text-danger" > 
                                                <i class="material-icons">&#xE872;</i>
                                            </button>
                                         </form>
                                    
                                </td>
                            </tr>

                           <% }) %>
                          
                      
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>   
       
    
        </body>
        </html>